<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312823977167-qktlpo8g87msiimhugdc0jfpc3kathnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312823977167-qktlpo8g87msiimhugdc0jfpc3kathnq</string>
	<key>API_KEY</key>
	<string>AIzaSyAgaO3ny_e8nUV04hHEkoRrRVCXhDTW-UQ</string>
	<key>GCM_SENDER_ID</key>
	<string>312823977167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuricyna.FirebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>loginapp-84755</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-84755.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312823977167:ios:197d71ccb3d0e483ad93ba</string>
	<key>DATABASE_URL</key>
	<string>https://loginapp-84755.firebaseio.com</string>
</dict>
</plist>